<div class="block">
  <p class="is-size-4 has-text-centered">
    resend account unlock instructions
  </p>
</div>

<%= render "shared/flash" %>
<%= render "devise/shared/error_messages", resource: resource %>

<%=
  form_for resource,
           as: resource_name,
           url: registration_path(resource_name),
           html: data_turbo_false do |f|
%>
  <div class="field">
    <%= f.label :email, "email address", class: "label" %>
    <p class="control has-icons-left">
      <%=
        f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      placeholder: "email address",
                      class: "input"
      %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <%= f.label :password, "password", class: "label" %>
    <p class="control has-icons-left">
      <%=
        f.password_field :password,
                         autocomplete: "new-password",
                         placeholder: "password",
                         class: "input"
      %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "password confirmation", class: "label" %>
    <p class="control has-icons-left">
      <%=
        f.password_field :password_confirmation,
                         autocomplete: "new-password",
                         placeholder: "password confirmation",
                         class: "input"
      %>
      <span class="icon is-small is-left">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= f.submit "sign up", class: "button is-primary is-fullwidth" %>
    </p>
  </div>
<% end %>
