<div class="block">
  <p class="is-size-4 has-text-centered">
    resend account unlock instructions
  </p>
</div>

<%= render "shared/flash" %>
<%= render "devise/shared/error_messages", resource: resource %>

<%=
  form_for resource,
           as: resource_name,
           url: unlock_path(resource_name),
           html: { method: :post, data: turbo_false } do |f|
%>
  <div class="field">
    <%= f.label :email, "email address", class: "label" %>
    <p class="control has-icons-left">
      <%=
        f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      placeholder: "email address",
                      class: "input"
      %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= f.submit "resend unlock instructions", class: "button is-primary is-fullwidth" %>
    </p>
  </div>
<% end %>
