<div id="<%= dom_id group %>" class="border border-red-500">
  <% unless current_page?(edit_group_path(group)) || group.id == 1 %>
    <a href="<%= edit_group_path(group) %>">
      <i class="fas fa-gear"></i>
    </a>
  <% end %>

  <p>
    group #<%= group.id %>
  </p>
  <p>
    <%= thoughts[group.hash].size %> shown
  </p>

  <%= render thoughts[group.hash] %>
</div>
