<section class="hero is-primary is-small">
  <div class="hero-head">
    <%= render "shared/navbar" %>
  </div>

  <div class="hero-body">
  </div>
  <div class="hero-foot">
    <div class="tabs is-centered is-boxed">
      <ul>
        <li class="is-active">
          <a href="<%= streams_path %>">
            <span class="icon is-small"><i class="fas fa-list" aria-hidden="true"></i></span>
            <span>Streams</span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small"><i class="fas fa-gear" aria-hidden="true"></i></span>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-fullheight">
    <div class="column">
      <%= render @stream %>
    </div>
    <div class="column is-3">
      <div class="box">
        <%= render "shared/flash_notification" %>

        <div class="block">
          <%= render "form", stream: @stream %>
        </div>
      </div>
    </div> <!-- class="column" -->
  </div> <!-- class="columns" -->
</section>
