<!DOCTYPE html>
<html>
  <head>
    <title>groupthink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <script src="https://kit.fontawesome.com/33037d7625.js" crossorigin="anonymous"></script>

    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="flex flex-col items-center w-screen h-screen bg-gradient-to-r from-one via-two to-three">
    <%= render "flash" %>
