<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <small><%= time_ago_in_words thought.created_at %> ago by <strong><%= thought.user_id %></strong></small>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
      <%= thought.content %>
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="<%= thought.created_at.strftime("%Y-%m-%d") %>">
        <small><%= thought.created_at.strftime("%l:%M %p - %e %b %Y") %></small>
      </time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>


<!--<article id="<%= dom_id thought %>" class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <%= thought.content %>
        <br />
        <small><%= time_ago_in_words thought.created_at %> ago by <strong><%= thought.user_id %></strong></small>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
</article>-->
