<div id="<%= dom_id thought %>" class="border border-purple-500">
  <p>
    <%= current_user == thought.user ? "you" : thought.user.to_s %>
  </p>
  <p>
    <time datetime="<%= thought.created_at.strftime("%Y-%m-%d") %>">
      <small><%= thought.created_at.in_time_zone("America/Chicago").strftime("%e %b %Y") %></small>
    </time>
  </p>
  <p>
    <%= thought.content %> <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
  </p>
  <p>
    <%= time_ago_in_words thought.created_at %> ago
  </p>
</div>
